    @font-face {
        font-family: 'TT Lakes Regular';
        src: url('/src/fonts/TTLakes-Regular.eot');
        src: url('/src/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/TTLakes-Regular.woff') format('woff'),
        url('/src/fonts/TTLakes-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

        @font-face {
            font-family: 'TT Lakes Medium';
            src: url('/src/fonts/TTLakes-Medium.eot');
            src: url('/src/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
            url('/src/fonts/TTLakes-Medium.woff') format('woff'),
            url('/src/fonts/TTLakes-Medium.ttf') format('truetype');
            font-weight: bold;
            font-style: normal;
            }
    
            @font-face {
                font-family: 'TT Lakes Bold';
                src: url('/src/fonts/TTLakes-Bold.eot');
                src: url('/src/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
                url('/src/fonts/TTLakes-Bold.woff') format('woff'),
                url('/src/fonts/TTLakes-Bold.ttf') format('truetype');
                font-weight: bold;
                font-style: normal;
                }


